<div>
  <div class="TransDetails" *ngIf="!confirmedSwap; else confirmedSwapTemplate">
    <ul class="list-inline row">
      <li class="list-inline-item col blockLabel">Type</li>
      <li class="list-inline-item col-8 blockText text-uppercase">Swap</li>
    </ul>
    <ul *ngIf="!hasOpReturn" class="list-inline row">
      <li class="list-inline-item col blockLabel">Amount to swap</li>
      <li
        class="list-inline-item col-8 blockText text-danger">{{ transaction.amount | number:'1.8-8' }}
        <small>{{ coinUnit }}</small></li>
    </ul>
    <ul *ngIf="hasOpReturn" class="list-inline row">
      <li class="list-inline-item col blockLabel">Amount to swap</li>
      <li
        class="list-inline-item col-8 blockText text-danger">{{ transaction.amount - transaction.feeAmount - transaction.opReturnAmount | number:'1.8-8' }}
        <small>{{ coinUnit }}</small></li>
    </ul>
    <ul class="list-inline row">
      <li class="list-inline-item col blockLabel">Fee</li>
      <li class="list-inline-item col-8 blockText text-danger">{{ transaction.feeAmount }} <small>{{ coinUnit }}</small></li>
    </ul>
    <ul *ngIf="hasOpReturn" class="list-inline row">
      <li class="list-inline-item col blockLabel">OP_RETURN amount</li>
      <li class="list-inline-item col-8 blockText text-danger">{{ transaction.opReturnAmount }} <small>{{ coinUnit }}</small></li>
    </ul>
    <ul class="list-inline row">
      <li class="list-inline-item col blockLabel">Total</li>
      <li class="list-inline-item col-8 blockText text-danger">{{ totalAmount | number:'1.8-8' }}
        <small>{{ coinUnit }}</small></li>
    </ul>
    <ul *ngIf="!hasOpReturn" class="list-inline row">
      <li class="list-inline-item col blockLabel">STRAX Address</li>
      <li class="list-inline-item col-8 blockText">{{ transaction.recipients[0].destinationAddress }}</li>
    </ul>
    <ul *ngIf="hasOpReturn" class="list-inline row">
      <li class="list-inline-item col blockLabel">Destination Federation</li>
      <li class="list-inline-item col-8 blockText">{{ transaction.recipients[0].destinationAddress }}</li>
    </ul>
    <ul *ngIf="hasOpReturn" class="list-inline row">
      <li class="list-inline-item col blockLabel">Destination Address</li>
      <li class="list-inline-item col-8 blockText">{{ transaction.opReturnData }}</li>
    </ul>
    <button type="button" class="btn btn-primary btn-left-200" (click)="closeClicked.emit(true)">Cancel</button>
    <button type="button" class="btn btn-primary btn-right-200"
        [disabled]="isConfirming" (click)="swap()">Confirm
    </button>
    <small *ngIf="apiError" class="text-danger">{{ apiError }}</small>
  </div>
</div>

<ng-template #confirmedSwapTemplate>
  <div class="text-center mb-5">
    <svg height="80px" width="80px" version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
        <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
        C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
    </svg>
  </div>
  <div>
    <div class="TransDetails">
      <ul class="list-inline row">
        <li class="list-inline-item col blockLabel">Type</li>
        <li class="list-inline-item col-8 blockText text-uppercase">Swap</li>
      </ul>
      <ul *ngIf="!hasOpReturn" class="list-inline row">
        <li class="list-inline-item col blockLabel">Amount swapped</li>
        <li
          class="list-inline-item col-8 blockText text-danger">{{ transaction.amount | number:'1.8-8' }}
          <small>{{ coinUnit }}</small></li>
      </ul>
      <ul *ngIf="hasOpReturn" class="list-inline row">
        <li class="list-inline-item col blockLabel">Amount Sent</li>
        <li
          class="list-inline-item col-8 blockText text-danger">{{ transaction.amount - transactionFee - opReturnAmount | number:'1.8-8' }}
          <small>{{ coinUnit }}</small></li>
      </ul>
      <ul class="list-inline row">
        <li class="list-inline-item col blockLabel">Fee</li>
        <li class="list-inline-item col-8 blockText text-danger">{{ transaction.feeAmount }} <small>{{ coinUnit }}</small></li>
      </ul>
      <ul *ngIf="hasOpReturn" class="list-inline row">
        <li class="list-inline-item col blockLabel">OP_RETURN amount</li>
        <li class="list-inline-item col-8 blockText text-danger">{{ transaction.opReturnAmount }} <small>{{ coinUnit }}</small></li>
      </ul>
      <ul class="list-inline row">
        <li class="list-inline-item col blockLabel">Total</li>
        <li class="list-inline-item col-8 blockText text-danger">{{ totalAmount | number:'1.8-8' }}
          <small>{{ coinUnit }}</small></li>
      </ul>
      <ul *ngIf="!hasOpReturn" class="list-inline row">
        <li class="list-inline-item col blockLabel">STRAX Address</li>
        <li class="list-inline-item col-8 blockText">{{ transaction.recipients[0].destinationAddress }}</li>
      </ul>
      <ul *ngIf="hasOpReturn" class="list-inline row">
        <li class="list-inline-item col blockLabel">Destination Federation</li>
        <li class="list-inline-item col-8 blockText">{{ transaction.recipients[0].destinationAddress }}</li>
      </ul>
      <ul *ngIf="hasOpReturn" class="list-inline row">
        <li class="list-inline-item col blockLabel">Destination Address</li>
        <li class="list-inline-item col-8 blockText">{{ transaction.opReturnData }}</li>
      </ul>
    </div>
  </div>
  <button type="button" class="mt-4 btn btn-primary btn-block" (click)="closeClicked.emit(true)">Close</button>
</ng-template>
