<!-- HOT STAKING -->
<div class="card card-staking" *ngIf="hotWallet">
        <div *ngIf="{
            _wallet: wallet | async,
            _stakingEnabled: stakingEnabled | async        
        } as observables">
        <div class="stake-type text-right">
            <span class="badge badge-hot ml-auto">Hot Wallet <span data-placement="top" class="lnr lnr-question-circle ml-2"></span></span>
        </div>
    
        <div class="card-header">Balance</div>
        <div class="card-body">
            <p class="lead">
                <strong>{{ (observables._wallet.amountConfirmed | coinNotation) || (0 | coinNotation) }}</strong>
                <small class="text-uppercase"> {{ globalService.coinUnit }}</small>
            </p>
        </div>
    
        <div class="card-header">Mature for staking</div>
        <div class="card-body">
            <p class="sub">{{ (observables._wallet.amountConfirmed - observables._wallet.awaitingMaturityIfStaking | coinNotation) || (0 | coinNotation) }} {{ globalService.coinUnit }}</p>
        </div>
        <div class="card-header">Staking status</div>
        <div class="card-body">
            <p class="sub">{{ (observables._stakingEnabled ? "Active" : "Inactive") }}</p>
        </div>
        <div class="card-body">
            <div *ngIf="!observables._stakingEnabled && !stakingService.isStarting">
                <form class="form-inline mb-3" [formGroup]="stakingForm">
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" formControlName="walletPassword" class="form-control" id="inputPassword"
                                placeholder="Password">
                        <button type="button" id="flipcard" class="btn btn-outline-primary ml-2"
                                [disabled]="stakingService.isStarting || walletService.isSyncing || !stakingForm.valid" (click)="startStaking()">Unlock
                        </button>
                    </div>
                </form>
            </div>
            <div *ngIf="observables._stakingEnabled">
                <button type="button" class="btn btn-outline-light mb-3" [disabled]="stakingService.isStopping" (click)="stopStaking()">Stop Staking</button>
            </div>
            <!-- <button data-toggle="modal" type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="unusedAddressClicked()">Get
                first unused address</button> -->
        </div>
</div>

<!-- COLD STAKING -->
<div class="card card-staking disabledcard" *ngIf="!hotWallet">
    <div class="stake-type text-right">
        <span class="badge badge-cold ml-auto">Cold Wallet <span data-placement="top" class="lnr lnr-question-circle ml-2"></span></span>
    </div>

    <div class="card-header">Balance</div>
    <div class="card-body">
        <p class="lead">
            <strong>{{ 0 | coinNotation }}</strong>
        </p>
    </div>
    <div class="card-header">
        <h1 class="text-center soon-text">Coming soon</h1>
    </div>
    <div class="card-header">Spendable</div>
    <div class="card-body">
        <p class="sub">{{ 0 | coinNotation}}</p>
    </div>
    <div class="card-footer">
        <div class="row justify-content-center">
            <button [disabled]="true" type="button" class="btn btn-outline-primary btn-lg col-4"
                (click)="withdrawClicked()">Withdraw</button>
            <button [disabled]="true" type="button" class="btn btn-outline-primary btn-lg col-7 ml-2" (click)="unusedAddressClicked()">Get
                first unused address</button>
        </div>
    </div>
</div>