<div class="card p-4">
  <div class="card-header">Change Coin Unit</div>
    <div class="card-body" style="min-height:200px;">
      <div class="row">
        <div class='col-4 blockLabel'>
          Change:
        </div>
        <div class='col blockText'>
            <select class="custom-select col-12" [(ngModel)]="selectedCoinUnit" [ngModelOptions]="{standalone: true}" (change)="onBaseUnitChanged()">
              <option *ngFor="let unit of units" [ngValue]="unit">{{ unit.name }}</option>
            </select>
          <span style="padding-left: 15px;">1 Strat = <coins [amount]="100000000"></coins></span>
        </div>      
      </div>    
    </div>
</div>
