<div class="modal-body">
    <div class="text-center">
        <svg height="80px" width="80px" version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
            <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
                C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"></path>
        </svg>
        <p class="text-success text-center col-8 mx-auto mt-3">Transaction that creates coldstaking setup
            was created with success.</p>
    </div>
    <div class="alert alert-warning mb-0" role="alert">
        Hot wallet will be able to start staking after 500 confirmations
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" (click)="okClicked()">OK</button>
</div>