// Toggle
#switch {
  width: 68px;
  height: 32px;
}

.toggle {
  position: absolute;
  border: 2px solid $gray-500;
  border-radius: 20px;
  -webkit-transition: border-color .6s ease-out;
  transition: border-color .6s ease-out;
  box-sizing: border-box;
}

.toggle.toggle-on {
  border-color: $primary;
  -webkit-transition: all .5s .15s ease-out;
  transition: all .5s .15s ease-out;
}

.toggle-button {
  position: absolute;
  top: 4px;
  width: 20px;
  bottom: 4px;
  right: 41px;
  background-color: $gray-500;
  border-radius: 19px;
  cursor: pointer;
  -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
  transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button {
  top: 3px;
  width: 58px;
  bottom: 3px;
  right: 3px;
  border-radius: 23px;
  background-color: $primary;
  box-shadow: 0 0 16px $primary;
  -webkit-transition: all .2s .1s, right .1s;
  transition: all .2s .1s, right .1s;
}

.toggle-text-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 1.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  color: rgba(0, 0, 0, 0);
}

.toggle-on .toggle-text-on {
  color: $white;
  -webkit-transition: color .3s .15s;
  transition: color .3s .15s;
}

.toggle-text-off {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  line-height: 1.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  cursor: pointer;
  color: $gray-500;
}

.toggle-on .toggle-text-off {
  color: rgba(0, 0, 0, 0);
}

/* used for streak effect */
.glow-comp {
  position: absolute;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgba(75, 122, 141, .1);
  box-shadow: 0 0 12px rgba(75, 122, 141, .2);
  -webkit-transition: opacity 4.5s 1s;
  transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
