$sidebar-padding: 25px;
$sidebar-gradient: linear-gradient(10deg, #0068a9 0%, #2297dc 100%);

$blue: #0B81CC;
$input-btn-padding-y: .55rem;
$btn-border-radius: 1.4rem;

$input-btn-padding-y-lg: .7rem;
$btn-border-radius-lg: 1.4rem;
