
body.dark {
  // Import all package variables first to override the defaults
  @import './variables/module';

  // Import all scss/sass node module packages. Allows for
  // easy package updates and management with npm/yarn.
  @import '../../../../node_modules/bootstrap/scss/bootstrap';


  // @import the global base styles of the app
  @import '../../base/module';

  // Add or modify package styles at a component level
  @import '../../components/module';

  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}
