<div class="mt-3 mb-3" *ngIf="nodeStatusSubscription$ | async as node">
  <div class="row ">
    <div class='col-3 blockLabel'>
      Client name:
    </div>
    <div class='col-3 blockText'>
      {{ node.agent }}
    </div>
    <div class='col-3 blockLabel'>
      Wallet version:
    </div>
    <div class='col-3 blockText'>
      {{ applicationVersionFull }}
    </div>
    <div class="col-3 blockLabel">
      Fullnode version:
    </div>
    <div class="col-3 blockText">
      {{ node.version }}
    </div>
    <div class="col-3 blockLabel">
      Current network:
    </div>
    <div class="col-3 blockText">
      {{ node.network }}
    </div>
    <div class="col-3 blockLabel">
      Protocol version:
    </div>
    <div class="col-3 blockText">
      {{ node.protocolVersion }}
    </div>
    <div class="col-3 blockLabel">
      Current block height:
    </div>
    <div class="col-3 blockText">
      {{ node.blockStoreHeight }}
    </div>
    <div class="col-3 blockLabel">
      Data directory:
    </div>
    <div class="col-9 blockText">
          <span *ngIf="!isElectron; else directoryLink">
            <em>{{ node.dataDirectoryPath }}</em>
          </span>
      <ng-template #directoryLink>
        <a (click)="openWalletDirectory(node.dataDirectoryPath)" href="javascript:void(0)">
          {{ node.dataDirectoryPath }}
        </a>
      </ng-template>
    </div>
    <app-ext-pubkey class="col-12 blockText"></app-ext-pubkey>
  </div>
</div>


