<!-- MODAL VALIDATION -->
<div class="modal-body">
  <div class="text-center mb-5">
    <svg height="80px" width="80px" version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
      <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
      C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
    </svg>
  </div>
  <div>
    <div class="TransDetails">
      <ul class="list-inline row">
        <li class="list-inline-item col blockLabel">Type</li>
        <li class="list-inline-item col-8 blockText text-uppercase">Sent</li>
      </ul>
      <ul class="list-inline row">
        <li class="list-inline-item col blockLabel">Amount Sent</li>
        <li class="list-inline-item col-8 blockText text-danger">{{ transaction.amount - transactionFee | number:'1.8-8' }} <small>{{ coinUnit }}</small></li>
      </ul>
      <ul class="list-inline row">
        <li class="list-inline-item col blockLabel">Fee</li>
        <li class="list-inline-item col-8 blockText text-danger">{{ transactionFee }} <small>{{ coinUnit }}</small></li>
      </ul>
      <ul class="list-inline row">
        <li class="list-inline-item col blockLabel">Total</li>
        <li class="list-inline-item col-8 blockText text-danger">{{ transaction.amount | number:'1.8-8' }} <small>{{ coinUnit }}</small></li>
      </ul>
      <ul *ngIf="!hasOpReturn" class="list-inline row">
        <li class="list-inline-item col blockLabel">Destination</li>
        <li class="list-inline-item col-8 blockText"><code>{{ transaction.recipients[0].destinationAddress }}</code></li>
      </ul>
      <ul *ngIf="hasOpReturn" class="list-inline row">
        <li class="list-inline-item col blockLabel">Destination Federation</li>
        <li class="list-inline-item col-8 blockText"><code>{{ transaction.recipients[0].destinationAddress }}</code></li>
      </ul>
      <ul *ngIf="hasOpReturn" class="list-inline row">
        <li class="list-inline-item col blockLabel">Destination Address</li>
        <li class="list-inline-item col-8 blockText"><code>{{ transaction.opReturnData }}</code></li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-block" (click)="activeModal.close('Close click')">Close</button>
</div>
<!-- /MODAL VALIDATION -->
