<section id="GUI" class="light" @fadeIn><!-- CONTAINER -->
  <div class="jumbotron" id="account-header">
    <div class="text-left" *ngIf="(wallet| async) as _wallet">
      <h3>Balance</h3>
      <p class="lead">
        <strong>{{ (_wallet.amountConfirmed | coinNotation) || (0 | coinNotation) }}</strong>
        <small class="text-uppercase"> {{ globalService.coinUnit }}</small>
      </p>
      <ul class="list-unstyled mb-0">
        <li>
          <strong>{{ (_wallet.amountUnconfirmed | coinNotation) || (0 | coinNotation) }}</strong>
          <em> (unconfirmed)</em>
        </li>
      </ul>
    </div>
    <h4 class="mt-4">
      Latest Transactions
    </h4>
  </div>
  <div style="padding-top: 150px;">
    <section id="content" class="col-12 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <app-transactions>
              </app-transactions>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
