//
//
//
//    Here all the custom CSS for GUI wallet
//    #TeamStratis
//
//

// basics
body {
  background: #FAFBFC !important;
  cursor: default !important;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}
button {&:hover {cursor: pointer;}}
img {pointer-events: none !important;}

.invalid-feedback,
.valid-feedback {font-size: .8rem;}
.link {
  color: $primary !important;
  text-decoration: none !important;
  &:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
  }
}

#GUI {
  #content {
    padding-top: $jumbotron-padding;
    .jumbotron {
      strong {user-select: auto !important;}
    }
  }

  ///// MNEMONICS
  .mnemonics {
    .list-inline {user-select: all !important;}
    .badge {
      font-size: .7rem;
      padding: .5rem;
      margin: .5rem auto;
    }
  }

  ///// NAVBAR
  .navbar {
    &.bg-light {background-color: $white !important;}
    .navbar-text {font-weight: bold;}
    .form-inline {
      a {
        &:hover {
          cursor: pointer;
          .lnr-exit {color: $primary;}
        }
        .lnr-exit {
          font-size: 1.5rem;
          color: $gray-500;
        }
      }
    }
  }

  ///// JUMBOTRON
  .jumbotron {
    h5 {
      text-transform: uppercase;
      font-size: $font-size-base;
      font-weight: 300;
    }
    .lead {
      font-size: 3rem;
      margin-bottom: 0 !important;
      strong {font-weight: 500;}
      small {
        font-weight: light;
        font-size: 30%;
      }
    }
    strong {font-weight: 500;}
    em {font-weight: light;}

    // buttons
    .btn-lg {
      border-radius: 0;
      padding: 1.25rem 0 0 0;
      height: 80px;
      width: 80px;

      &:hover {
        cursor: pointer;
        .icon {
          font-size: 20px;
          transition-duration: .5s;
        }
        .text-uppercase {
          display: block;
          opacity: 1;
          transition-duration: .5s;
        }
      }
      .icon {
        font-size: 40px;
        color: $white;
        transition-duration: .5s;
        font-weight: 300;
      }
      .text-uppercase {
        display: block;
        opacity: 0;
        transition-duration: .5s;
        font-size: .9rem;
        font-weight: 400;
        color: $white;
      }
    }

  }

  ///// STAKING
  #staking {
    strong {font-weight: bold !important;}
  }
  //CARD
  .card-staking {
    .lead {
      font-size: 1.8rem;
      margin-bottom: 0 !important;
      strong {font-weight: 400;}
      small {
        font-weight: light;
        font-size: 50%;
      }
    }
    .sub {
      font-size: $font-size-base;
      margin-top: .5rem;
      margin-bottom: 0;
    }
    .card-header {padding: 0 1.8rem;}
    .card-body {padding: 0 1.8rem 1rem 1.8rem;}
    .card-footer {padding: 0.75rem 1.8rem 1.5rem;}
    //badges
    .badge {padding: .45rem .75rem;}
    .badge-hot {
      background-color: rgba($hot, .2) !important;
      color: $hot;
    }
    .badge-cold {
      background-color: rgba($cold, .2) !important;
      color: $cold;
    }
  }
  ///// CARDS
  .card {
    .card-header {
      text-transform: uppercase;
      font-size: $font-size-base;
    }
    .stake-type {
      padding: 1.125rem 1.25rem 0;
      background-color: $white;
    }
  }

  // Toggle
  #switch{
    width: 68px;
    height: 32px;
}

.toggle{
    position: absolute;
    border: 2px solid $gray-500;
    border-radius: 20px;
    -webkit-transition: border-color .6s  ease-out;
    transition: border-color .6s  ease-out;
    box-sizing: border-box;
}
.toggle.toggle-on{
    border-color: $primary;
    -webkit-transition: all .5s .15s ease-out;
    transition: all .5s .15s ease-out;
}
.toggle-button{
    position: absolute;
    top: 4px;
    width: 20px;
    bottom: 4px;
    right: 41px;
    background-color: $gray-500;
    border-radius: 19px;
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}
.toggle-on .toggle-button{
    top: 3px;
    width: 58px;
    bottom: 3px;
    right: 3px;
    border-radius: 23px;
    background-color: $primary;
    box-shadow: 0 0 16px $primary;
    -webkit-transition: all .2s .1s, right .1s;
    transition: all .2s .1s, right .1s;
}
.toggle-text-on{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    color: rgba(0,0,0,0);
}
.toggle-on .toggle-text-on{
    color: $white;
    -webkit-transition: color .3s .15s ;
    transition: color .3s .15s ;
}
.toggle-text-off{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    line-height: 1.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: pointer;
    color: $gray-500;
}
.toggle-on .toggle-text-off{color: rgba(0,0,0,0);}
/* used for streak effect */
.glow-comp{
    position: absolute;
    opacity: 0;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(75, 122, 141, .1);
    box-shadow: 0 0 12px rgba(75, 122, 141, .2);
    -webkit-transition: opacity 4.5s 1s;
    transition: opacity 4.5s 1s;
}
.toggle-on .glow-comp{
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

  // Flip
  .flip {
        -webkit-perspective: 800;
        perspective: 800;
        position: relative;
    }
        .flip .card.flipped {
            -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
        }
        .flip .card {
            height: 179px;
            -webkit-transform-style: preserve-3d;
            -webkit-transition: 0.5s;
            transform-style: preserve-3d;
            transition: 0.5s;
        }
            .flip .card .face {
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                z-index: 2;
            }
            .flip .card .front {
                position: absolute;
                width: 100%;
                z-index: 1;
            }
            .flip .card .back {
                position: absolute;
                width: 100%;
                backface-visibility:hidden !important;
                .card-body {
                  ul {li{line-height: 1.33rem;}}
                }
            }
            .flip .card .back {
                -webkit-transform: rotatey(-180deg);
                transform: rotatey(-180deg);
            }


  ///// TABLES
  .table {
    .bubble {
      height: 10px;
      width: 10px;
      border: 2px solid;
      border-radius: 50%;
      display: inline-block;

      &.bg-warning {
        border-color: $yellow;
        background-color: rgba($yellow,.5) !important;
      }
      &.bg-success {
        border-color: $green;
        background-color: rgba($green,.5) !important;
      }
    }
  }


  // status box
  .status {
    background: $white;
    width: auto;
    height: 36px;
    border: 1px solid #DEE0EC;
    border-radius: 80px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    text-align: center;
    .lnr {
      font-weight: bold;
      font-size: 105%;
    }
    ul {
      transform: translateY(50%) translateX(0);
      display: inline-block;
      position: relative;
      padding: 0 2em;
    }
    li {
      font-size: .9em;
      position: relative;
      float: left;
      margin-right: 4px;
      &.pending {
        i {
          font-size: .9em;
          color: $yellow;
        }
      }
      &.statusOK {
        i {
          color: $green;
          font-size: .9em;
          position: absolute;
        }
      }
      small {
        margin-left: 5px;
        font-size: 80%;
        font-weight: 600;
      }
    }
  }
}

/// MODALS
.modal {
  label {color: $gray-600;}
  .alert {text-align: center !important;}
  .blockID {
    word-wrap: break-word;
    margin-right: 0 !important;
  }
  .badge-warning {
    color: #A49803;
    background-color: #FFF8A7;
  }
  .blockText {
    font-weight: 500;
    user-select: auto !important;
  }
  .btn-group {
    label {
      color: $gray-700;
      &:hover {color: $white;}
      input {
        position: absolute;
        opacity: 0;
      }
    }
  }
  // fee
  .btn-outline-danger:not([disabled]):not(.disabled).active {box-shadow: none !important;}
  .btn-outline-warning:not([disabled]):not(.disabled).active {box-shadow: none !important;}
  .btn-outline-success:not([disabled]):not(.disabled).active {box-shadow: none !important;}
  // content
  .modal-title {
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;
  }
  .modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }
  .myAddress {
    .btn {&:hover {cursor: pointer;}}
    .lnr-file-add {
      font-size: .8rem;
      display: block;
    }
  }
  button {
    &.closemodal {
      z-index: 5;
      padding: 0;
      &:hover {cursor: pointer;}
      i {
        font-size: 2rem;
        color: $gray-500;
      }
    }
  }
  // Checkmark
  #checkmark {
    stroke: $green !important;
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    animation: dash 4s ease-out forwards;
  }
  @keyframes dash {
    0% {stroke-dashoffset: 745.74853515625;}
    100% {stroke-dashoffset: 0;}
  }
  //tab-pane content
  .tab-pane-line {
    padding: .5em;
    border-bottom: 1px dotted #ccc;
  }
}

////// LOGIN
.left-login {
  height: 100vh;
  background: $primary;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  text-align: center;
}
.right-login {
  min-height: calc(100vh - 60px);
  form {flex: 50% 0 50% 0;}
  h3 {
    font-weight: 200;
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  button {&:hover {cursor: pointer;}}
}
// anim
.Loading {
  padding: 30px;
  text-align: center;
  position: relative;
  &.LoadingSend {padding: 0 !important;}
}
.Loading:before {
  content: '';
  position: absolute;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background-color: $primary;
  opacity: .75;
  border-radius: 100%;
  -webkit-animation: scaleout 1.5s infinite ease-in-out;
  animation: scaleout 1.5s infinite ease-in-out;

}
.Loading {
  &.unset-left {
    &:before{
      left : unset;
    }
  }
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

/// MODAL DETAILS
.details {
  .list-inline {margin-bottom: .5rem;}
  .alert {
    margin-bottom: 0;
    padding: .75rem .4rem;
  }
  &.modal-footer {padding: 0 15px;}
}

/// LOADING ANIM
.login {
  height: 100vh;
  .row {margin: 0 !important;}
}
.loadingText {
  font-size: $font-size-base;
  color: $gray-500;
}
#logoAnim {width: auto;}
.path {
  stroke-dasharray: 4000;
  stroke-dashoffset: 1000;
  stroke-width:2;
  stroke-linecap:round;
  animation: log 4s linear infinite;
  fill-opacity:1;
  fill:#1794C8;
  stroke:#1794C8;
}

@keyframes log {
  0% {
    stroke-dashoffset: 4500;
    opacity:1;
    stroke:#1794C8;
    fill-opacity:0;
  }
  15%{
    opacity:1;
    stroke:#1794C8;
    fill-opacity:0;
  }
  70%{
    opacity:1;
    stroke:#1794C8;
    fill-opacity:0;
  }
  95%{
    opacity:1;
    stroke:#1794C8;
    fill-opacity:1;
  }
  100%{
    opacity:1;
    stroke:#1794C8;
    fill-opacity:1;
  }
}
