.jumbotron {
  padding: ($jumbotron-padding / 2);
  margin: 0;
  background-color: $jumbotron-bg;
  @include border-radius($border-radius-lg);
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}
