<div class="stratis-task-bar" *ngIf="options | async; let _options"
     [@openClose]="opened?'open':'closed'"
     (@openClose.done)="animationComplete($event)"
     [ngStyle]="{width : _options.taskBarWidth || '600px'}">
  <div class="stratis-task-bar-container" [ngStyle]="{width : _options.taskBarWidth || '600px'}">
    <div class="lnr lnr-cross-circle close-button" *ngIf="_options.showCloseButton" (click)="close()"></div>
    <div *ngIf="_options.title" class="left title">{{_options.title}}</div>
    <div class="mt-3" taskBarItemHost></div>
  </div>
</div>
