<div style="background:beige; height: 300px">
    <div style="display:flex; flex-direction:row; height:60%">
        <app-staking-wallet [stakingType]='StakingTypeEnum.Hot' style="width:50%; margin:4px 2px 2px 4px"></app-staking-wallet>
        <app-staking-wallet [stakingType]='StakingTypeEnum.Cold' style="width:50%; margin:4px 4px 2px 2px"></app-staking-wallet>
    </div>
    <div style="display:flex; flex-direction:row; height:40%">
        <app-staking-history style="margin:2px 4px 4px 4px; width:100%"></app-staking-history>
    </div>
</div>