<div class="modal-header">
  <h5 class="modal-title">New Address</h5>
  <button type="button" class="close closemodal ml-auto" data-dismiss="modal" aria-label="Close" (click)="closeClicked()">
      <i class="lnr lnr-cross-circle"></i>
  </button>
</div>

<div class="modal-body">
    <form [formGroup]="addressForm">
        <label for="yourAddress">Label</label>
        <div class="form-group">
            <input type="text" class="form-control" [class.is-invalid]="formErrors.label" [class.is-valid]="!formErrors.label && addressForm.get('label').valid" formControlName="label" placeholder="Insert label">
            <div *ngIf="formErrors.label" class="invalid-feedback">{{ formErrors.label }}</div>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Your label must be 2-40 characters long.
        </small>
        <div class="row mb-3"></div>
        <label for="yourAddress">Address</label>
        <div class="myAddress">
            <div class="form-group">
                <input type="text" class="form-control" [class.is-invalid]="formErrors.address" [class.is-valid]="!formErrors.address && addressForm.get('address').valid" formControlName="address" placeholder="Insert new address">
                <div *ngIf="formErrors.address" class="invalid-feedback">{{ formErrors.address }}</div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-light" (click)="closeClicked()">Cancel</button>
  <button type="button" class="btn btn-primary btn-block" [disabled]="!addressForm.valid" (click)="createClicked()">Create</button>
</div>
