<section id="GUI" class="light">
  <section id="content" class="light col-10 mx-auto">
    <div class="row">
      <div class="col" *ngIf="(walletHistory | async)">
        <app-transactions *ngIf="transactionCount > 0; else noTransactions" [enablePagination]="true"
                          title="Transaction History"></app-transactions>
      </div>
    </div>
    <ng-template #noTransactions>
      <section class="col-12">
        <div class="card mb-4">
          <div class="card-header">Transaction History</div>
          <div class="card-body">
            <em class="muted">Looks like you haven't made any transactions yet.</em>
          </div>
        </div>
      </section>
    </ng-template>
  </section>
</section>
