<section id="GUI" class="light" @fadeIn>
  <div class="jumbotron page-header">
    <div class="text-left">
      <h3><strong>Masternode collateral requirement vote</strong></h3>
    </div>
    <div *ngIf="(generalInfo | async) as _generalInfo">
      <div *ngIf="hasVotedCollateral; else notVotedTemplate" class="text-center">
        Thank you for participating in the masternode collateral voting process.
        <div *ngIf="voteResultCollateral === 'CA'">You have voted for the collateral to be 50 000 STRAX.</div>
        <div *ngIf="voteResultCollateral === 'CB'">You have voted for the collateral to be 75 000 STRAX.</div>
        <div *ngIf="voteResultCollateral === 'CC'">You have voted for the collateral to be 100 000 STRAX.</div>
        <div *ngIf="voteResultCollateral === 'CD'">You have voted for the collateral to be 150 000 STRAX.</div>
        <div *ngIf="voteResultCollateral === 'CE'">You have voted for the collateral to be 200 000 STRAX.</div>
        If you have any questions or concerns, please visit the Stratis Discord Server.
      </div>
      <ng-template #notVotedTemplate>
        <form class="col-10 mx-auto d-flex align-content-center flex-wrap" [formGroup]="voteForm">
          <div class="form-group col-12">
            <div class="row">
                <div class='col-5 blockLabel'>Total amount eligible to vote:</div>
                <div class='col-5 blockText'>{{ maxAmount | coinNotation }} {{ globalService.coinUnit }}</div>
            </div>
          </div>
          <div class="form-group col-12">
            <!-- <p>Do you support the STRAX Token Proposal, that includes the additional minting of STRAX Tokens. More information regarding the proposal can be found <a class="text-primary" (click)="openProposal()"><u>here</u></a>.</p> -->
            <p>Please select the collateral amount you would like to vote for.</p>
            <select class="form control form-control-success text-left" [class.is-invalid]="formErrors.vote" [class.is-valid]="!formErrors.vote && voteForm.get('vote').valid" formControlName="vote" id="vote">
              <option value="CA">50 000 STRAX</option>
              <option value="CB">75 000 STRAX</option>
              <option value="CC">100 000 STRAX</option>
              <option value="CD">150 000 STRAX</option>
              <option value="CE">200 000 STRAX</option>
            </select>
            <div *ngIf="formErrors.vote" class="invalid-feedback">{{ formErrors.vote }}</div>
          </div>
          <div class="form-group col-12">
            <label for="walletPassword">Wallet password</label>
            <input type="password" class="form-control form-control-success" [class.is-invalid]="formErrors.walletPassword" [class.is-valid]="!formErrors.walletPassword && voteForm.get('walletPassword').valid"
                formControlName="walletPassword" id="walletPassword" placeholder="Please enter your wallet password." placement="right" triggers="click:blur">
            <div *ngIf="formErrors.walletPassword" class="invalid-feedback">{{ formErrors.walletPassword }}</div>
          </div>
          <div class="modal-footer col-12">
            <div class="text-center col-12">Please note that issuing your vote creates a transaction. Transaction fees will be applied automatically.</div>
            <button type="button" class="btn btn-primary btn-block" [disabled]="!voteForm.valid || !maxAmount || !isSynced || noBalance" (click)="vote()">VOTE</button>
            <div class="text-center col-12 text-warning" *ngIf="noBalance">You must have an address with a balance of at least 1 STRAT to cast your vote.</div>
            <div class="text-center col-12 text-warning" *ngIf="!isSynced">Your wallet must be fully synchronised before you can cast your vote.</div>
          </div>
        </form>
      </ng-template>
    </div>
  </div>
</section>
