<div *ngIf="(walletInfo | async) as _walletInfo">
  <div class="status-balance">
    <div>
      {{ (_walletInfo.amountConfirmed | coinNotation) || (0 | coinNotation) }} {{ globalService.coinUnit }}
    </div>
    <div class="clearfix">
      <small>{{ (_walletInfo.amountUnconfirmed | coinNotation) || (0 | coinNotation) }} (unconfirmed)</small>
    </div>
  </div>
</div>
<div
  class="status"
  *ngIf="(generalInfo | async) as _generalInfo">
  <ul class="display-flex p-0 ml-3">
    <li
      class="d-flex align-items-center mr-5"
      placement="top"
      ngbTooltip="{{toolTip}}"
      tooltipClass="status-tooltip">
      <i
        class="lnr lnr-cloud"
        style="font-size: 140%">
      </i>
      <small>
        {{ percentSynced }}
      </small>
    </li>
    <li
      class="d-flex align-items-center"
      placement="top"
      ngbTooltip="{{ connectedNodesTooltip }}"
      tooltipClass="status-tooltip">
      <i class="lnr lnr-earth"></i>
      <small>
        {{ _generalInfo.connectedNodes }}
      </small>
    </li>
  </ul>
</div>
