<section id="GUI" class="light" @fadeIn>
  <div class="jumbotron page-header">
    <div class="text-left">
      <h3>Contacts</h3>
      <button type="button" class="btn btn-primary mt-3"
              (click)="addNewAddressClicked()"><span class="fa fa-gear"></span>
        Add Contact
      </button>
      <div class="page-header-right-content">
      </div>
    </div>
  </div>
  <section id="content" class="light page-content">
    <div class="row">
      <ng-template #noAddresses>
        <div class="col-12 text-center">
          <p>Looks like you have no addresses in your address book yet.</p>
        </div>
      </ng-template>
    </div>
    <div *ngIf="addresses; else noAddresses">
      <div *ngFor="let addressRow of addresses | async">
       <app-address-book-card [address]="addressRow"  [showButtons]="true" (removeClicked)="removeClicked($event)" (sendClicked)="sendClicked($event)">

       </app-address-book-card>
      </div>
    </div>
  </section>
</section>
