<section class="col-12">
  <div class="row" *ngIf="transactions; else noTransactions">
    <div class="col-8" [class.col-12]="globalService.getSidechainEnabled()">
      <div class="card">
        <div class="card-header">Latest Transactions</div>
        <div class="card-body">
          <table class="table table-sm">
            <tbody *ngFor="let transaction of transactions; let i=index">
            <tr *ngIf="i<5">
              <th class="text-center" *ngIf="!transaction.transactionConfirmedInBlock"><span
                class="bubble bg-warning"></span></th>
              <th class="text-center" *ngIf="transaction.transactionConfirmedInBlock"><span
                class="bubble bg-success"></span></th>
              <td class="text-uppercase text-left">{{ transaction.transactionType }}</td>
              <td class="text-left" *ngIf="transaction.transactionType == 'sent'">
                <strong>- {{ transaction.transactionAmount + transaction.transactionFee | coinNotation }} {{ globalService.coinUnit }}</strong>
              </td>
              <td class="text-left" *ngIf="transaction.transactionType == 'received'">
                <strong>+ {{ transaction.transactionAmount + transaction.transactionFee | coinNotation }} {{ globalService.coinUnit }}</strong>
              </td>
              <td class="text-left" *ngIf="transaction.transactionType == 'staked'">
                <strong>+ {{ transaction.transactionAmount + transaction.transactionFee | coinNotation }} {{ globalService.coinUnit }}</strong>
              </td>
              <td class="text-left">{{ transaction.transactionTimestamp * 1000 | date:'medium' }}</td>
              <td class="text-center"><a class="link" (click)="openTransactionDetailDialog(transaction)">details</a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-center my-2">
            <button type="button" class="btn btn-outline-primary"
                    [class.btn-outline-stratis-green]="globalService.getSidechainEnabled()" (click)="goToHistory()">Go to History
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <ng-template #noTransactions>
      <section class="col-12 text-center my-4">
        <img src="./assets/images/notransactions.svg" alt="Click the down arrow for a receive address.">
      </section>
      <div class="col-12 text-center">
        <p>Click the down arrow for a receive address.</p>
      </div>
    </ng-template>
  </div>
</section>
