<div *ngIf="(transactions | async) let _transactions;">
  <table class="table">
    <tbody>
    <tr *ngFor="let _transaction of _transactions | paginate: { itemsPerPage: 20, currentPage: pageNumber }">
      <th class="text-center">
            <span class="bubble"
                  [ngClass]="{
            'bg-warning' : !_transaction.transactionConfirmedInBlock,
            'bg-success' : _transaction.transactionConfirmedInBlock
            }"></span></th>

      <td class="text-uppercase text-left">{{ _transaction.transactionType }}</td>
      <td class="text-left">{{_transaction.transactionType == 'sent' ? '- ' : '+ '}}
        <strong> {{ _transaction.transactionAmount + _transaction.transactionFee | coinNotation }} {{ globalService.coinUnit }}</strong>
      </td>
      <td class="text-left">{{ _transaction.transactionTimestamp * 1000 | date:'medium' }}</td>
      <td class="text-center"><span (click)="openTransactionDetailDialog(_transaction)" class="lnr-transaction lnr-menu-circle"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
