<div>

    <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close closemodal ml-auto" data-dismiss="modal" aria-label="Close" (click)="closeClicked()">
            <i class="lnr lnr-cross-circle"></i>
        </button>
    </div>
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
                <div class="form-group clearfix">
                    <label for="">Sender</label>
                    <input class="form-control" [(ngModel)]="selectedSenderAddress" [ngModelOptions]="{standalone: true}" [readonly]="true" />
                </div>
                <div class="mt-1 mb-3">Balance : <sc-balance data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Set maximum amount" class="btn-link" [balance]="balance" [coinUnit]="coinUnit"></sc-balance>
                </div>
                <div class="form-group clearfix">
                    <input formControlName="amount" type="number" class="form-control" placeholder="Amount" [class.is-invalid]="amount.invalid && (amount.dirty || amount.touched)">
                    <div *ngIf="amount.errors" class="invalid-feedback">
                        <p *ngIf="amount.errors.amountError">Amount must be less than your balance</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6 clearfix">
                        <input formControlName="gasPrice" type="number" class="form-control" placeholder="Gas Price" [class.is-invalid]="gasPrice.invalid && (gasPrice.dirty || gasPrice.touched)">
                        <div *ngIf="gasPrice.errors" class="invalid-feedback">
                            <p *ngIf="gasPrice.errors.gasPriceTooLowError">Gas price must be greater than {{ gasPriceMinimum }}</p>
                            <p *ngIf="gasPrice.errors.gasPriceTooHighError">Gas price must be less than {{ gasPriceMaximum }}</p>
                        </div>
                    </div>
                    <div class="form-group col-6 clearfix">
                        <input formControlName="gasLimit" type="number" class="form-control" placeholder="Gas Limit" [class.is-invalid]="gasLimit.invalid && (gasLimit.dirty || gasLimit.touched)">
                        <div *ngIf="gasLimit.errors" class="invalid-feedback">
                            <p *ngIf="gasLimit.errors.gasCallLimitTooLowError">Gas call limit must be greater than {{ gasCallLimitMinimum }}</p>
                            <p *ngIf="gasLimit.errors.gasCreateLimitTooLowError">Gas create limit must be greater than {{ gasCreateLimitMinimum }}</p>
                            <p *ngIf="gasLimit.errors.gasLimitTooHighError">Gas limit must be less than {{ gasLimitMaximum }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-12" for="">Parameters</label>
                    <div style="display:block; margin-left:auto; margin-right:auto">
                        <div class="row" formArrayName="parameters" *ngFor="let parameter of parameters.controls; let i = index;">
                            <div class="mb-2 col-6" [formGroupName]="i">
                                <select class="form-control form-control-sm" formControlName="type">
                                    <option *ngFor="let parameterType of parameterTypes" [ngValue]="parameterType.type" >{{parameterType.value}}</option>
                                </select>
                            </div>
                            <div class="mb-2 col-4" [formGroupName]="i">
                                <input type="text" 
                                        class="form-control form-control-sm"
                                        formControlName="value"
                                        id="Value"
                                        placeholder="value"
                                        value=""
                                        required>
                            </div>
                            <div class="col-2 d-flex align-items-start justify-content-center">
                                <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"
                                    data-toggle="tooltip" (click)="removeParameterClicked(i)" data-placement="right"
                                    title="" data-original-title="Remove"><i class="lnr lnr-cross"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mb-4 d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-secondary" (click)="addParameterClicked()"><i class="lnr lnr-plus-circle"></i>
                        Add a parameter</button>
                </div>

                <div>
                    <div *ngIf="mode === modeEnum.Call">
                        <div class="form-group clearfix">
                            <!-- <label for="destinationAddress">Method Name</label> -->
                            <input
                                formControlName="methodName"
                                type="text" 
                                class="form-control"
                                id=""
                                placeholder="Method"
                                [class.is-invalid]="methodName.invalid && (methodName.dirty || methodName.touched)">
                        </div>
                        <div class="form-group clearfix">
                            <!-- <label for="destinationAddress">Destination Address</label> -->
                            <input type="text"
                                   formControlName="destinationAddress"
                                   class="form-control"
                                   id="destinationAddress"
                                   placeholder="Destination Address"
                                   [class.is-invalid]="destinationAddress.invalid && (destinationAddress.dirty || destinationAddress.touched)">
                        </div>
                    </div>
                    <div *ngIf="mode === modeEnum.Create">
                        <div class="form-group clearfix">
                            <label class="float-left" for="">Byte Code</label>
                            <span class="float-right">
                                <button type="button" class="btn btn-link d-inline-block ml-2 btn-sm" data-toggle="tooltip"
                                    data-placement="right" title="" data-original-title="Copy to Clipboard">Copy</button>
                            </span>
                            <textarea class="form-control form-control-sm" id="" rows="5" formControlName="byteCode"
                                [class.is-invalid]="byteCode.invalid && (byteCode.dirty || byteCode.touched)"
                                >{{byteCode}}</textarea>
                        </div>
                    </div>
                </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal" (click)="closeClicked()">Cancel</button>
            <button type="submit" data-toggle="modal" data-target="#" class="btn btn-purple btn-block" data-dismiss="modal"
                [disabled]="!transactionForm.valid">{{buttonText}}</button>
        </div>
    </form>

</div>