<div class="row">
  <div class="col-2 blockLabel">
    Extended Public Key
    <button *ngIf="extPubKey" type="button" class="btn btn-link" ngxClipboard [cbContent]="extPubKey"
            (click)="onCopiedClick()">
      Copy to clipboard
    </button>
  </div>
  <div class="col-7">
    <div class="code-block-base blockText" style="padding-right: 50px" *ngIf="extPubKey">{{ extPubKey }}
    </div>
  </div>
  <div class="col-12">
    <p *ngIf="!extPubKey">Something went wrong while getting your Extended Public Key.</p>
  </div>
</div>

