<div class="card p-4">
  <div class="card-header">Extended Public Key</div>
    <div class="card-body" style="min-height:200px;">
      <p class="text-right mb-0">
        <button type="button" class="btn btn-link pr-0" ngxClipboard [cbContent]="extPubKey" (click)="onCopiedClick()">Copy to clipboard</button>
      </p>
      <p class="code-block-base w-100" *ngIf="extPubKey">{{ extPubKey }}</p>
      <p *ngIf="!extPubKey">Something went wrong while getting your Extended Public Key.</p>
      <div *ngIf="copied" class="alert alert-success alert-dismissible my-3 text-center" role="alert">The Extended Public Key has been copied to your clipboard.</div>
    </div>
</div>
