<section id="GUI" class="light" @fadeIn>
  <div class="jumbotron page-header">
    <div class="text-left">
      <h3>Advanced Options</h3>
    </div>
    <app-about></app-about>

    <div class="text-left mt-5 mb-3">
      <h3>Advanced Tools</h3>
    </div>
    <div class="row">
      <div class="col-3 blockLabel">
        Wallet Rescan
      </div>
      <div class="col-9 blockText mb-3">
        Rebuild your wallet from the blockchain.
        <a [routerLink]="" (click)="openRescan()">Rescan now</a>
      </div>

      <div class="col-3 blockLabel">
        Add Nodes
      </div>
      <div class="col-9 blockText mb-3">
        You can add a node by IP Address. This is useful if you are having trouble connecting to the nextwork.
        <a [routerLink]="" (click)="addNode()">Add a node</a>
      </div>

      <div class="col-3 blockLabel">
        Generate Addresses
      </div>
      <div class="col-9 blockText mb-3">
        Use this tool to create more addresses that you can use these addresses to receive funds.
        <a [routerLink]="" (click)="generateAddresses()">Generate addresses</a>
      </div>
    </div>
    <app-ext-pubkey></app-ext-pubkey>
  </div>
</section>
