<section id="content" class="light smartcontracts col-10 mx-auto">

    <!-- JUMBOTRON-->
    <section class="mb-3">
        <div class="col-12">
            <section class="row d-flex align-items-center">

                <div class="col-4">
                    <div class="card">
                        <div class="card-header">Balance</div>
                        <div class="card-body d-flex align-items-center">
                            <p class="sub">
                                <strong>10,898,025</strong><small>.00 STRAT</small></p>
                        </div>
                    </div>
                </div>

                <div class="col-5">
                    <div class="card">
                        <div class="card-header">My address</div>
                        <div class="card-body d-flex align-items-center">
                            <div class="myAddress d-inline">
                                <code class="d-inline-block">SdrP9wvxZmaG7t3UAjxxyB6RNT9FV1Z2Sn</code>
                                <button type="button" class="btn btn-outline-secondary d-inline-block ml-2 btn-sm"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy to Clipboard">
                                    <i class="lnr lnr-file-add"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <button type="button" class="btn btn-outline-purple btn-block" data-toggle="modal" data-target="#modalCalltx">Call
                        transaction</button>
                    <button type="button" class="btn btn-purple btn-block" data-toggle="modal" data-target="#modalCreatetx">Create
                        new transaction</button>
                </div>

            </section>
        </div>
    </section>
    <!-- /JUMBOTRON-->

    <!-- CONTENT -->
    <section class="col-12">
        <!-- card -->
        <div class="card my-4">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Block</th>
                            <th scope="col">Type</th>
                            <th scope="col">Hash</th>
                            <th scope="col">Address</th>
                            <th scope="col">Amount</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><strong>#7809</strong></th>
                            <td><span class="badge badge-info">Transfert</span></td>
                            <td><a href="#" data-toggle="modal" data-target="#modalInfotx">bbdbcae72f1085710…</a></td>
                            <td>to : <code class="d-inline-block">SdrP9wvxZmaG7t3UAjxxyB6RNT9FV1Z2Sn</code></td>
                            <td><strong>10,898,025</strong><small>.00 STRAT</small></td>
                            <td><button data-toggle="modal" data-target="#modalInfotx" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="See details" class="btn btn-primary btn-sm"
                                    type="button">+</button></td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>#7809</strong></th>
                            <td><span class="badge badge-info">Transfert</span></td>
                            <td><a href="#" data-toggle="modal" data-target="#modalInfotx">bbdbcae72f1085710…</a></td>
                            <td>to : <code class="d-inline-block">SdrP9wvxZmaG7t3UAjxxyB6RNT9FV1Z2Sn</code></td>
                            <td><strong>10,898,025</strong><small>.00 STRAT</small></td>
                            <td><button data-toggle="modal" data-target="#modalInfotx" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="See details" class="btn btn-primary btn-sm"
                                    type="button">+</button></td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>#7809</strong></th>
                            <td><span class="badge badge-info">Transfert</span></td>
                            <td><a href="#" data-toggle="modal" data-target="#modalInfotx">bbdbcae72f1085710…</a></td>
                            <td>to : <code class="d-inline-block">SdrP9wvxZmaG7t3UAjxxyB6RNT9FV1Z2Sn</code></td>
                            <td><strong>10,898,025</strong><small>.00 STRAT</small></td>
                            <td><button data-toggle="modal" data-target="#modalInfotx" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="See details" class="btn btn-primary btn-sm"
                                    type="button">+</button></td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>#7809</strong></th>
                            <td><span class="badge badge-info">Transfert</span></td>
                            <td><a href="#" data-toggle="modal" data-target="#modalInfotx">bbdbcae72f1085710…</a></td>
                            <td>to : <code class="d-inline-block">SdrP9wvxZmaG7t3UAjxxyB6RNT9FV1Z2Sn</code></td>
                            <td><strong>10,898,025</strong><small>.00 STRAT</small></td>
                            <td><button data-toggle="modal" data-target="#modalInfotx" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="See details" class="btn btn-primary btn-sm"
                                    type="button">+</button></td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>#7809</strong></th>
                            <td><span class="badge badge-info">Transfert</span></td>
                            <td><a href="#" data-toggle="modal" data-target="#modalInfotx">bbdbcae72f1085710…</a></td>
                            <td>to : <code class="d-inline-block">SdrP9wvxZmaG7t3UAjxxyB6RNT9FV1Z2Sn</code></td>
                            <td><strong>10,898,025</strong><small>.00 STRAT</small></td>
                            <td><button data-toggle="modal" data-target="#modalInfotx" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="See details" class="btn btn-primary btn-sm"
                                    type="button">+</button></td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>#7809</strong></th>
                            <td><span class="badge badge-info">Transfert</span></td>
                            <td><a href="#" data-toggle="modal" data-target="#modalInfotx">bbdbcae72f1085710…</a></td>
                            <td>to : <code class="d-inline-block">SdrP9wvxZmaG7t3UAjxxyB6RNT9FV1Z2Sn</code></td>
                            <td><strong>10,898,025</strong><small>.00 STRAT</small></td>
                            <td><button data-toggle="modal" data-target="#modalInfotx" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="See details" class="btn btn-primary btn-sm"
                                    type="button">+</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /card -->

        <!-- pagination -->
        <div class="float-right">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                        <span class="page-link">2
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
        <!-- /pagination -->
    </section>
    <!-- /CONTENT -->
</section>