<section id="GUI" class="light">
    <section id="content" class="light smartcontracts col-10 mx-auto">
        <section class="mb-3">

            <div class="col-12">
                <section class="row d-flex align-items-center">

                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">Balance</div>
                            <div class="card-body d-flex align-items-center">
                                <p class="sub">
                                    <sc-balance [balance]="balance" [coinUnit]="coinUnit"></sc-balance>                                    
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="card">
                            <div class="card-header">My address</div>
                            <div class="card-body d-flex align-items-center">
                                <div style="display: flex; flex-direction: row">
                                    <select class="form-control" [(ngModel)]="selectedAddress" [ngModelOptions]="{standalone: true}"
                                        (change)="addressChanged($event.target.value)">
                                        <option *ngFor="let address of addresses">{{address}}</option>
                                    </select>
                                    <button type="button" class="btn btn-outline-secondary d-inline-block ml-2 btn-sm"
                                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy to Clipboard"
                                        (click)="clipboardAddressClicked()">
                                        <i class="lnr lnr-file-add"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <button type="button" class="btn btn-outline-purple btn-block" data-toggle="modal" data-target="#modalCalltx"
                            (click)="callTransactionClicked()">Call Contract
                        </button>
                        <button type="button" class="btn btn-purple btn-block" data-toggle="modal" data-target="#modalCreatetx"
                            (click)="createNewTransactionClicked()">Create Contract
                        </button>
                    </div>

                </section>
            </div>
        </section>

        <section class="col-12">
            <div class="card my-4">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Block</th>
                                <th scope="col">Type</th>
                                <th scope="col">Hash</th>
                                <th scope="col">Address</th>
                                <th scope="col">Amount</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of history">
                                <th scope="row"><strong>#{{item.blockHeight}}</strong></th>
                                <td><span class="badge badge-info">{{item.type | contractType}}</span></td>
                                <td>
                                    <span *ngIf="item.type != 3 && item.type != 4">{{item.hash}}</span>
                                    <a href="javascript:void(0);" *ngIf="item.type == 3 || item.type == 4" (click)="txHashClicked(item)">{{item.hash}}</a>
                                </td>
                                <td><code class="d-inline-block">{{item.to}}</code></td>
                                <td><sc-balance [balance]="item.amount" [coinUnit]="coinUnit"></sc-balance></td>
                                <td><button data-toggle="modal" data-target="#modalInfotx" data-toggle="tooltip"
                                        data-placement="top" title="" data-original-title="See details" class="btn btn-primary btn-sm"
                                        type="button">+</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!-- <div class="float-right">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <span class="page-link">2
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>
            </div> -->

        </section>

    </section>