<div class="card">
    <div class="card-header">Staking history</div>
    <div class="card-body">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <th class="text-center"><span class="bubble bg-warning"></span></th>
                    <td class="text-uppercase text-left">Hot wallet</td>
                    <td class="text-center"><strong>+ 1.00000000</strong></td>
                    <td class="text-center">26/11/2017 15:31</td>
                    <td class="text-center">staked by wallet name</td>
                    <td class="text-right"><a href="#">details</a></td>
                </tr>
                <tr>
                    <th class="text-center"><span class="bubble bg-success"></span></th>
                    <td class="text-uppercase text-left">Hot wallet</td>
                    <td class="text-center"><strong>+ 1.00000000</strong></td>
                    <td class="text-center">26/11/2017 15:31</td>
                    <td class="text-center">staked by wallet name</td>
                    <td class="text-right"><a href="#">details</a></td>
                </tr>
                <tr>
                    <th class="text-center"><span class="bubble bg-success"></span></th>
                    <td class="text-uppercase text-left">Cold wallet</td>
                    <td class="text-center"><strong>- 10.00498600</strong></td>
                    <td class="text-center">26/11/2017 15:31</td>
                    <td class="text-center">staked by wallet name</td>
                    <td class="text-right"><a href="#">details</a></td>
                </tr>
            </tbody>
        </table>
        <div class="text-center my-2">
            <a href="history.html" class="btn btn-outline-primary">See all History</a>
        </div>
    </div>
</div>