<!-- MODAL RECEIVE -->
<div class="modal-header">
  <h5 class="modal-title">Receive</h5>
  <!-- button close -->
  <button type="button" class="close closemodal ml-auto" (click)="activeModal.close('Close click')">
    <i class="lnr lnr-cross-circle"></i>
  </button>
  <!-- /button close -->
</div>
<div class="modal-body">
  <form *ngIf="!showAll">
    <div class="form-group clearfix">
      <label for="yourAddress">Your address</label>
    </div>
    <div class="myAddress row">
      <div class="mx-auto mb-2">
        <ngx-qrcode [qrc-value]="qrString" qrc-class="aclass" qrc-errorCorrectionLevel="L"></ngx-qrcode>
      </div>
      <div class="col-9 mx-auto">
        <code class="d-inline-block">{{ address }}</code>
        <button type="button" class="btn btn-outline-secondary d-inline-block ml-2 btn-sm" placement="top" ngbTooltip="Copy to clipboard" ngxClipboard [cbContent]="address" (click)="onCopiedClick()">
          <i class="lnr lnr-file-add"></i>
        </button>
      </div>
    </div>
  </form>
  <form *ngIf="showAll">
    <div *ngIf="copied" class="alert alert-success alert-dismissible fade show mt-3 mb-0" role="alert">Your address has been copied to your clipboard.</div>
    <div>Unused Addresses</div>
    <div *ngFor="let unusedAddress of unusedAddresses">{{ unusedAddress }}</div>
    <div>Used Addresses</div>
    <div *ngFor="let usedAddress of usedAddresses">{{ usedAddress }}</div>
    <div>Change Addresses</div>
    <div *ngFor="let changeAddress of changeAddresses">{{ changeAddress }}</div>
  </form>

  <div class="text-center mt-4">
    <button *ngIf="!showAll" type="button" class="btn btn-outline-secondary" (click)="showAllAddresses()">Show all addresses</button>
    <button *ngIf="showAll" type="button" class="btn btn-link" (click)="showOneAddress()">← back to one address</button>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-block" (click)="activeModal.close('Close click')">OK</button>
</div>
<!-- /MODAL RECEIVE -->
