<form class="form-inline col-5" style="max-width: none">
  <div class="btn-group ml-auto">
    <div ngbDropdown class="d-inline-block">
      <button class="btn">{{(this.globalService.currentWallet | async).walletName}}</button>
<!--      <div ngbDropdownMenu class="dropdown-menu-right wallet-menu">-->
<!--        <ng-container *ngFor="let _walletName of (this.walletNames | async)">-->
<!--          <button class="dropdown-item d-flex align-items-center" type="button"-->
<!--                  (click)="switchWallet(_walletName)"><i class=""></i>{{_walletName}}-->
<!--          </button>-->
<!--        </ng-container>-->
<!--      </div>-->
    </div>
  </div>
</form>
