<div class="card p-4">
  <div class="card-header">Rescan Wallet</div>
    <div class="card-body" style="min-height:200px;">
      <div class="alert alert-info" role="alert">
        <p class="m-0">
          Rescanning your wallet will temporarily clear the transactions in your wallet and rescan the blockchain.
          Select a date from where you wish to rescan and click the button below.
        </p>
      </div>
      <form class="col-4" [formGroup]="rescanWalletForm">
        <div class="form-group col-12">
          <label class="text-left">Rescan from:</label>
          <input type="text" class="form-control" bsDatepicker formControlName="walletDate" placeholder="mm/dd/yyy" [bsConfig]="bsConfig" [minDate]="minDate" [maxDate]="maxDate"/>
          <div *ngIf="formErrors.walletDate" class="text-danger mt-2">{{ formErrors.walletDate }}</div>
        </div>
      </form>
      <div>
        <button type="button" [disabled]="isSyncing || !rescanWalletForm.valid" class="btn btn-primary btn-block" (click)="onResyncClicked()">Rescan</button>
      </div>
    </div>
</div>
