<div class="card p-4">
  <div class="card-header">Rescan Wallet</div>
    <div class="card-body" style="min-height:200px;">
      <div class="alert alert-info" role="alert">
        If you have any inconsitencies in your wallet, it is a good idea to rescan it. Select a date you wish to rescan to and click the rescan button below if you wish to do so.
      </div>
      <form class="col-4" [formGroup]="rescanWalletForm">
        <div class="form-group col-12">
          <label class="text-left">Rescan from:</label>
          <input type="text" class="form-control" bsDatepicker formControlName="walletDate" placeholder="mm/dd/yyy" [bsConfig]="bsConfig" [minDate]="minDate" [maxDate]="maxDate"/>
          <div *ngIf="formErrors.walletDate" class="text-danger mt-2">{{ formErrors.walletDate }}</div>
        </div>
      </form>
      <div>
        <button type="button" [disabled]="isSyncing || !rescanWalletForm.valid" class="btn btn-primary btn-block" (click)="onResyncClicked()">Rescan</button>
      </div>
    </div>
</div>
