.light {
  .table {
    color: #A6AFB4;
    strong {
      color: $black;
      font-weight: 600;
    }
  }
}

.dark {
  .table {
    tr {border-top: 1px solid rgba(0,0,0,.15);}
    strong {color: $white;}
    .bubble {
      &.bg-warning {
        border-color: $yellow;
        background-color: rgba($yellow,.3) !important;
      }
      &.bg-success {
        border-color: $green;
        background-color: rgba($green,.3) !important;
      }
    }
  }
}


///// TABLES
.table {
  .bubble {
    height: 10px;
    width: 10px;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;

    &.bg-warning {
      border-color: $yellow;
      background-color: rgba($yellow, .5) !important;
    }

    &.bg-success {
      border-color: $green;
      background-color: rgba($green, .5) !important;
    }
  }
}
