<section id="GUI" class="light">
    <nav class="navbar navbar-light bg-light justify-content-between">

        <span class="navbar-brand mx-auto">
            <a href="dashboard.html">
                <img src="./assets/images/logo.svg" width="36" height="36" alt="Stratis">
            </a>
        </span>

        <form class="form-inline col-1">
            <div class="btn-group navbar-text ml-auto">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{walletName}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button *ngFor="let option of enabledOptions" class="dropdown-item d-flex align-items-center"
                            type="button" (click)="optionClicked(option)">{{option.displayName}}</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item d-flex align-items-center" type="button" data-toggle="modal"
                            (click)="logOut()" data-target="#modalLogout"><i class="lnr lnr-exit"></i> Logout</button>
                    </div>
                </div>
            </div>
        </form>

    </nav>
</section>