.dark {
  .card {
    background-color: #2E3439;
    box-shadow: 0 5px 40px rgba($black,.80);

    .card-header {
      background-color: #2E3439;
      color: #A6AFB4;
      border-bottom: 1px solid $body-bg;
    }

    .card-body {
      background-color: #2E3439;
    }
  }
}

.light {
  .card {
    box-shadow: 0 2px 30px 0 #E6E8F7;

    .card-header {
      background-color: $white;
      color: #A6AFB4;
    }
  }
}





///// CARDS
.card {
  .card-header {
    text-transform: uppercase;
    font-size: $font-size-base;
  }

  ////// ADVANCED PAGE
  .card-body {
    .blockLabel {
      font-weight: 600;
    }

    .blockText {
      font-weight: 500;
      color: $gray-600;
      user-select: auto !important;
    }
  }

  .stake-type {
    padding: 1.125rem 1.25rem 0;
    background-color: $white;
  }
}


 //CARD
 .card-staking {
  .lead {
    font-size: 1.8rem;
    margin-bottom: 0 !important;

    strong {
      font-weight: 400;
    }

    small {
      font-weight: light;
      font-size: 50%;
    }
  }

  .sub {
    font-size: $font-size-base;
    margin-top: .5rem;
    margin-bottom: 0;
  }

  .card-header {
    padding: 0 1.8rem;
  }

  .card-body {
    padding: 0 1.8rem 1rem 1.8rem;
  }

  .card-footer {
    padding: 0.75rem 1.8rem 1.5rem;
  }

  //badges
  .badge {
    padding: .45rem .75rem;
  }

  .badge-hot {
    background-color: rgba($hot, .2) !important;
    color: $hot;
  }

  .badge-cold {
    background-color: rgba($cold, .2) !important;
    color: $cold;
  }
}


  ///// STAKING
  #staking {
    color: #A6AFB4;

    strong {
      color: $black;
    }
  }
