.light {
  .table {
    color: #A6AFB4;
    strong {
      color: $black;
      font-weight: 600;
    }
  }
}

.dark {
  .table {
    tr {border-top: 1px solid rgba(0,0,0,.15);}
    strong {color: $white;}
    .bubble {
      &.bg-warning {
        border-color: $yellow;
        background-color: rgba($yellow,.3) !important;
      }
      &.bg-success {
        border-color: $green;
        background-color: rgba($green,.3) !important;
      }
    }
  }
}
