<section #container id="GUI" class="light">

    <section id="content" class="light col-10 mx-auto">

        <section>
            <div class="col-12">
                <div class="row d-flex align-items-center">
                    <div class="col text-right">
                        <button class="btn btn-link mb-2" style="display: inline-block" (click)="onSetup()">+
                            Create Coldstaking Setup</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-12">
            <div class="row">
                <div class="col-6">
                    <app-staking-wallet [hotWallet]="true" [balance]="stakingInfo.hotWalletBalance" [amount]="stakingInfo.hotWalletAmount"
                        (onGetFirstUnusedAddress)="onWalletGetFirstUnusedAddress($event)"></app-staking-wallet>
                </div>
                <div class="col-6">
                    <app-staking-wallet [hotWallet]="false" [balance]="stakingInfo.coldWalletBalance" [amount]="stakingInfo.coldWalletAmount"
                        (onGetFirstUnusedAddress)="onWalletGetFirstUnusedAddress($event)" (onWithdraw)="onWalletWithdraw($event)"></app-staking-wallet>
                </div>
                <div class="col-12 mt-4">
                    <app-staking-history></app-staking-history>
                </div>
            </div>
        </section>

    </section>

</section>