<div class="modal-header">
  <h5 class="modal-title">
    {{title}}
  </h5>
  <button type="button" class="close closemodal ml-auto" data-dismiss="modal" aria-label="Close"
    (click)="activeModal.close(false)">
    <i class="lnr lnr-cross-circle"></i>
  </button>
</div>
<div class="modal-body">
    <div [innerHTML]="body">
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-lg btn-primary" ngbAutofocus (click)="activeModal.close(true)">Yes</button>
<button type="button" class="btn btn-lg btn-link" (click)="activeModal.close(false)">Cancel</button>
</div>

