<!-- MENU -->
<section id="GUI" class="light">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <span class="navbar-text">{{ walletName }}</span>
    <span class="navbar-brand align-middle">
      <a (click)="goToDashboard()">
        <img src="./assets/images/logo.svg" width="36" height="36" alt="Stratis">
      </a>
    </span>
    <form class="form-inline">
      <ul class="list-inline">
        <li class="list-inline-item">
            <a data-toggle="modal" role="button" (click)="openSettings()"><i class="lnr lnr-cog"></i></a>
        </li>
        <li class="list-inline-item ml-2">
          <a data-toggle="modal" role="button" (click)="logOut()"><i class="lnr lnr-exit"></i></a>
        </li>
      </ul>
    </form>
  </nav>
</section>
<!-- /MENU -->
